doctype html
html
  head
      title Lets talk about ... GraphQL by Nick
      meta(charset='utf-8')
      script(src='assets/vendor/slides.js')
      link(href='styles.css'  rel='stylesheet' type='text/css')
      link(href='flex.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article
          h2 Lets Talk about...
          h1 &nbsp;
        article
          h2 Lets Talk about...
          h1 Flexbox
        article
          h1 What is Flexbox?
        article
          h2 What is Flexbox?
          ul.build
            li The Flexbox Layout (Flexible Box) module (CR stage on W3C)
            li Set of rules for container and items positioning
            li One direction
            li Made small-scale layouts or seperate components layout
        article.image(data-src="assets/memes/layouts.jpg")
        article
          h2 Why do we need another layout tool?
          ul.build
            li Better grids
            li Vertical centering
            li Less css code
            li No hacks (negative margins, transforms, etc...)
        article.image(data-src="assets/images/flexbox.png")
          h2 What is flexbox
          ul.build(style="text-align:left")
            li main axis -primary axis for layout
            li main-start | main-end 
            li main size - width or height of parent
            li cross axis
            li cross-start | cross-end - items fill container starting with cross-start towards cross-end
            li cross size - height or width of parent
        article
          h1 Properties
        article
          h2 Container properties
          h2 Display: flex
        article
          h2 Container properties
          h2 flex-direction
          ul
            li row
            li column 
            li row-reverse
            li column-reverse
        article
          h2 Container properties
          h2 flex-wrap
          ul
            li nowrap
            li wrap 
            li wrap-reverse
        article
          h2 Container properties
          h2 flex-flow
          pre.h0
            |flex-flow: <‘flex-direction’> || <‘flex-wrap’>
        article
          h2 Container properties
          h2 justify-content
          ul
            li flex-start
            li flex-end 
            li center
            li space-between
            li space-around
            li space-evenly
        article
          h2 Container properties
          h2 align-items
          ul
            li flex-start
            li flex-end 
            li center
            li stretch
            li baseline
        article
          h2 Container properties
          h2 align-content
          ul
            li flex-start
            li flex-end 
            li center
            li stretch
            li space-between
            li space-around
        article
          h2 Child properties
          h2 Order
          ul
            li By default, flex items are laid out in the source order. 
            li However, the order property controls the <em>order</em> in which they appear in the flex container.
        article
          h2 Child properties
          h2 flex-grow
          ul
            li This defines the ability for a flex item to grow if necessary.
        article
          h2 Child properties
          h2 flex-shrink
          ul
            li This defines the ability for a flex item to shrink if necessary. 
        article
         h2 Child properties
          h2 flex-basis
          ul
            li This defines the default size of an element before the remaining space is distributed. 
        article.image(data-src="assets/memes/flex-grow.jpg")
        article
          h2 Child properties
          h2 flex
          ul
            li Shorthand property for flex-grow, flex-shrink and flex-basis
            li Sets the values <em>intelligently</em>
        article.image(data-src="assets/images/flex-basis.svg")
        article
          h2 Child properties
          h2 align-self
          ul
            li flex-start
            li flex-end 
            li center
            li stretch
            li baseline
        article
          h1 What can you do with all that?
        article
          h2 smart grids
        article
          h3 5 columns
          .flex-container
            .flex-item 
              .num 10
              .txt Some value
            .flex-item 
              .num 110
              .txt Some value
            .flex-item
              .num 210
              .txt And one more value
            .flex-item
              .num 1110
              .txt Some other value
            .flex-item
              .num 1110
              .txt Some other value
          h3 3 columns
          .flex-container
            .flex-item 
              .num 10
              .txt Some value
            .flex-item 
              .num 110
              .txt Some value
            .flex-item
              .num 210
              .txt And one more value
          h3 7(!) columns
          .flex-container
            .flex-item 
              .num 10
              .txt Some value
            .flex-item 
              .num 110
              .txt Some value
            .flex-item
              .num 210
              .txt And one more value
            .flex-item
              .num 1110
              .txt Some other value
            .flex-item
              .num 1110
              .txt Some other value
            .flex-item
              .num 1110
              .txt Some other value
            .flex-item
              .num 1110
              .txt Some other value
          h3 same styles/markup
          pre.linenums
            |.flex-container
            |    display:flex
            |.flex-item
            |    flex: 1
            |    display: flex
            |    flex-direction: column
            |    align-items: center
        article
          h2 canonical layout
        article
          .flex-container(style="height: 30vh; width: 80vw; margin: auto")
            .flex-item.flex-item--full-width header
            .flex-item.flex-item--fixed-width nav
            .flex-item main
            .flex-item.flex-item--fixed-width sidebar
            .flex-item.flex-item--full-width footer
          pre.linenums
            |.flex-container
            |    display:flex
            |    flex-wrap: wrap
            |.nav, .sidebar
            |   width: 10vh
            |.main
            |    flex: 1
            |    display: flex  
            |.header, .footer 
            |    width: 100%
        article
          .flex-container.flex-container--header
            .flex-item.flex-item--icon
              svg
                use(href="assets/images/icons/1.svg#Capa_1")
            .flex-item.flex-item--icon
              svg
                use(href="assets/images/icons/2.svg#Capa_1")
            .flex-item.flex-item--icon.flex-item--flex-center
              svg
                use(href="assets/images/icons/3.svg#Capa_1")
            .flex-item.flex-item--icon.flex-item--flex-end
              svg
                use(href="assets/images/icons/4.svg#Capa_1")
          pre.linenums
            |.flex-container
            |    display:flex
            |.icon
            |   width: 10vh
            |.icon--center
            |   margin: auto
            |.icon--right
            |   margin-left: auto
        article.image(data-src="assets/memes/magic.jpg")
        article
          h2 When not to use flexbox
        article.image(data-src="assets/images/masonry.png")
        article.image(data-src="assets/images/table.png")
        article.image(data-src="assets/images/grid.png")

        article
          h2 That's all for today
        article
          h2 Whats next?
          ul.build
            li
              a(href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/")
                | Good article on css-tricks
            li
              a(href="https://caniuse.com/#search=flexbox")
                | CanIUse#flexbox
            li
              a(href="https://healqq.github.io/flex-demo/")
                | Demo page
            li
              a(href="https://healqq.github.io/lets-talk-about---flexbox")
                | Slides
            li
            a(href="https://css-tricks.com/snippets/css/complete-guide-grid/")
              | Good article about CSS-grid ;)
                
        article.section
          h1 Questions?

      script(src='assets/scripts/main.js')
